# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
runs/
wandb/
outputs/

# Distribution / packaging
.Python
build/
data/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
searchless_chess/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST